PORT=3000
DATABASE_HOST=your_database_host
DATABASE_PORT=5433
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_NAME=your_database_name
FRONTEND_URL=http://localhost:5173